body{
    background-color: darkgray;
    background-size: cover;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
canvas{
    background: -webkit-linear-gradient(bottom, #FFDEAD, #FFDEAD 20px, LightSkyBlue 20px, LightSkyBlue);
}
h1{
    text-shadow: 5px 5px black;
}
#player1{
    float: left;
    text-align: center;
    width: 25%;
    color: blue;
}
#game{
    float: left;
    width: 50%;
}
#player2{
    float: left;
    text-align: center;
    width: 25%;
    color: red;
}